body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 239, 255);
    font-size: larger;
}
h1 {
    text-align: center ;
}

ul {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 8px 15px;
}